/* Responsive CSS designed to alter page formatting when certain
   media widths exist on viewed page
   */
/* Responsive settings for desktop based device */
@media only screen and (min-width: 1024px) {

	header {
		width: 750px;
		margin: 8px auto 8px auto;
	}

	.transitionbar {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}

	main {
		width: 750px;
		margin: 8px auto 8px auto;
	}

}

/* Responsive settings for tablet device */
@media only screen and (min-width: 800px) {

	header {
		width: 750px;
		margin: 8px auto 8px auto;
	}

	.transitionbar {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}

	main {
		width: 750px;
		margin: 8px auto 8px auto;
	}

}

/* Responsive settings for landscape hand-held device */
@media only screen and (min-width: 450px) {

	header {
		margin: 8px auto 8px auto;
	}

	main {
		margin: 8px auto 8px auto;
	}

	.bannerinfo {
		font-size: 15px;
	}

}

/* Responsive settings between portrait and landscape hand-held */
@media only screen and (max-width: 449px) {

	.bannerinfo {
		font-size: 15px;
	}

}

/* Responsive settings for portrait hand-held device */
@media only screen and (max-width: 385px) {

	.heading {
		box-sizing: border-box;
		display: block;
		float: none;
	}

	.heading .avatar {
    	display: block;
    	margin-right: auto;
    	margin-left: auto;
	}

	.heading .title {
		display: block;
		text-align: center;
		font-size: 1.9em;
	}

	.bannerinfo {
		font-size: 10px;
	}

}
